[submodule "impress.js"]
	path = impress.js
	url = https://github.com/bartaz/impress.js.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "d3"]
	path = d3
	url = git@github.com:mbostock/d3.git
[submodule "d3plotter"]
	path = d3plotter
	url = git@github.com:KommuSoft/d3plotter.git
[submodule "d3-plugins"]
	path = d3-plugins
	url = git@github.com:d3/d3-plugins.git
[submodule "graphlib-dot"]
	path = graphlib-dot
	url = https://github.com/cpettitt/graphlib-dot.git
[submodule "dagre-d3"]
	path = dagre-d3
	url = https://github.com/cpettitt/dagre-d3.git
