/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
    font-family: 'Open Sans', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    width: 750px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Open Sans', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.step.fixed {
    height: 600px;
    font-size: 36px;
}

.step.fixedBig>h1 {
    margin-bottom: 36px;
}

.step.fixed>h1 {
    margin-bottom: 36px;
    border-bottom: thick solid black;
}

span.frac {
  display: inline-block;
  font-size: 100%;
  text-align: center;
  vertical-align: middle;
}
span.frac > sup {
  display: block;
  border-bottom: 1px solid;
  font: inherit;
}
span.frac > sub {
  display: block;
  font: inherit;
}

span.sum {
  display: inline-block;
  font-size: 100%;
  text-align: center;
  vertical-align: middle;
}
span.sum > sup {
    display: block;
    font: inherit;
}
span.sum > sub {
    margin-top: -15px;
    display: block;
    font: inherit;
    font-size: 60%;
}

.overflow {
    white-space: nowrap;
}

li {
    list-style-position: inside;
    line-height: 76px;
}

ul>li {
    list-style-type: square;
}

ol>li {
    list-style-type: decimal;
}

.tabbed {
    margin-left: 2em;
}

.small {
    font-size: 24px;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.
*/
.slide {
    display: block;

    width: 750px;
    height: 600px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

/*
    Global styles
*/

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.right {
    text-align: right;
}

.hidden {
    display: none
}

sub {
    font-size: 70%;
    position: relative;
    top: .5ex;
}

.hor-minimalist-a {
    font-size: 25px;
    border-collapse: collapse;
    text-align: left;
}

.hor-minimalist-a th {
    font-size: 25px;
    font-weight: normal;
    padding: 0px 20px 0px 15px;
    border-bottom: 2px solid black;
}

.hor-minimalist-a td {
    padding: 0px 20px 0px 15px;
}

.hor-minimalist-a tbody tr:hover td {
    color: green;
}

.rightBorder {
    border-right: 2px solid black;
}

code {
    font-family: "Courier New", sans-serif;
    font-size: 25px;
    display: block;
}

/* ---------------------------------Intro-------------------------------------*/
.intro {
    margin-bottom: 3cm;
}

#intro h1 {
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 3cm;
}

#intro #author {
    margin-bottom: 3cm;
}

/* ---------------------------------Title-------------------------------------*/
#title h1 {
    font-size: 45px;
    line-height: 50px;
}

/* ---------------------------------Overview----------------------------------*/
#overview { 
    display: none;
}

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}


.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
